<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{config.title}
  body
    block content
    hr
    small #{config.title} / #{config.description}
    br
    <a href='#{config.baseurl}'> #{config.baseurl}</a>    