<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{config.title}
    body
        p= t('email.recover', {config})

        hr
        <a href="#{config.baseurl}/recover/#{user.recover_code}">#{t('email.press_here')}</a>
