doctype xml
rss(version='2.0')
    channel
        title #{config.title}
        link #{config.baseurl}
        description #{config.description}
        language #{config.locale}
        //- if events.length
            lastBuildDate= new Date(posts[0].publishedAt).toUTCString()
        each event in events
            item
                title [#{moment(event.start_datetime).format("D-MM-YY")}] #{event.title} @#{event.place.name}
                link #{config.baseurl}/event/#{event.id}
                description
                    | <![CDATA[
                    | <h4>#{event.title}</h4>
                    | <strong>#{event.place.name} - #{event.place.address}</strong>
                    | #{moment(event.start_datetime).format("dddd, D MMMM HH:mm")}<br/>
                    | <img src="#{config.apiurl}/media/#{event.image_path}"/>
                    | <pre>!{event.description}</pre>
                    | ]]>
                pubDate= new Date(event.createdAt).toUTCString()
                guid(isPermaLink='false') #{config.baseurl}/event/#{event.id}