doctype xml
rss(version='2.0')
    channel
        title #{config.title}
        link #{config.baseurl}
        description #{config.description}
        language #{config.locale}
        each event in events
            item
                title [#{moment.unix(event.start_datetime).format("YY-MM-DD")}] #{event.title} @#{event.place.name}
                link #{config.baseurl}/event/#{event.id}
                description
                    | <![CDATA[
                    | <h4>#{event.title}</h4>
                    | <strong>#{event.place.name} - #{event.place.address}</strong>
                    | <small>(#{moment.unix(event.start_datetime).format("dddd, D MMMM HH:mm")})</small><br/>
                    if (event.image_path)
                        | <img src="#{config.apiurl}/media/#{event.image_path}"/>
                    | <pre>!{event.description}</pre>
                    | ]]>
                pubDate= new Date(event.createdAt).toUTCString()
                guid(isPermaLink='false') #{config.baseurl}/event/#{event.id}
